<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
   <div>{{>header}}
     <p>This site was created by g4yboi69. It uses data from mapbox.com and darksky.net</p>
  <img class="portrait" src="/img/profilePic.png" /></div>
  {{>footer}}
  </body>
</html>